<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd  
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd  
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.1.xsd  
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd  
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.1.xsd  
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.1.xsd  
        http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.1.xsd  
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd  
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- ====================================================================================== -->
	<!-- 启用基于注解（Annotation-based）的配置 -->
	<!-- ====================================================================================== -->
	<context:component-scan base-package="cn.telling" />
	<!-- ====================================================================================== -->
	<!-- 基于注解的事务配置 <tx:annotation-driven transaction-manager="txManager" /> -->
	<!-- ====================================================================================== -->
	<tx:annotation-driven transaction-manager="txManager" />
	<!-- ====================================================================================== -->
	<!-- 启用Spring对@AspectJ切面配置的支持 <aop:aspectj-autoproxy /> -->
	<!-- ====================================================================================== -->
	<aop:aspectj-autoproxy />
	<!-- ====================================================================================== -->
	<!-- 加载属性文件 -->
	<!-- ====================================================================================== -->
	<context:property-placeholder location="classpath:db.properties" />
	<!-- ====================================================================================== -->
	<!-- 配置 数据源 连接池 c3p0 -->
	<!-- ====================================================================================== -->
	<!-- 读写数据源 -->
	<bean id="b2b-ds-1" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" lazy-init="default">
		<property name="driverClass" value="${b2b-ds-1.driver}"></property>
		<property name="jdbcUrl" value="${b2b-ds-1.url}"></property>
		<property name="user" value="${b2b-ds-1.username}"></property>
		<property name="password" value="${b2b-ds-1.password}"></property>
		<property name="initialPoolSize" value="${b2b-ds-1.initialPoolSize}"></property>
		<property name="minPoolSize" value="${b2b-ds-1.minPoolSize}"></property>
		<property name="maxPoolSize" value="${b2b-ds-1.maxPoolSize}"></property>
		<property name="maxIdleTime" value="${b2b-ds-1.maxIdleTime}"></property>
		<property name="acquireIncrement" value="${b2b-ds-1.acquireIncrement}"></property>
		<property name="idleConnectionTestPeriod" value="${b2b-ds-1.idleConnectionTestPeriod}"></property>
		<property name="acquireRetryAttempts" value="${b2b-ds-1.acquireRetryAttempts}"></property>
		<property name="breakAfterAcquireFailure" value="${b2b-ds-1.breakAfterAcquireFailure}"></property>
		<property name="maxStatements" value="${b2b-ds-1.maxStatements}"></property>
		<property name="maxStatementsPerConnection" value="${b2b-ds-1.maxStatementsPerConnection}"></property>
		<property name="testConnectionOnCheckout" value="${b2b-ds-1.testConnectionOnCheckout}"></property>
		<property name="numHelperThreads" value="${b2b-ds-1.numHelperThreads}"></property>
	</bean>
	<!-- ====================================================================================== -->
	
		<bean id="mysql" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" lazy-init="default">
		<property name="driverClass" value="${mysql-fancy.driver}"></property>
		<property name="jdbcUrl" value="${mysql-fancy.url}"></property>
		<property name="user" value="${mysql-fancy.username}"></property>
		<property name="password" value="${mysql-fancy.password}"></property>
		<property name="initialPoolSize" value="${mysql-fancy.initialPoolSize}"></property>
		<property name="minPoolSize" value="${mysql-fancy.minPoolSize}"></property>
		<property name="maxPoolSize" value="${mysql-fancy.maxPoolSize}"></property>
		<property name="maxIdleTime" value="${mysql-fancy.maxIdleTime}"></property>
		<property name="acquireIncrement" value="${mysql-fancy.acquireIncrement}"></property>
		<property name="idleConnectionTestPeriod" value="${mysql-fancy.idleConnectionTestPeriod}"></property>
		<property name="acquireRetryAttempts" value="${mysql-fancy.acquireRetryAttempts}"></property>
		<property name="breakAfterAcquireFailure" value="${mysql-fancy.breakAfterAcquireFailure}"></property>
		<property name="maxStatements" value="${mysql-fancy.maxStatements}"></property>
		<property name="maxStatementsPerConnection" value="${mysql-fancy.maxStatementsPerConnection}"></property>
		<property name="testConnectionOnCheckout" value="${mysql-fancy.testConnectionOnCheckout}"></property>
		<property name="numHelperThreads" value="${mysql-fancy.numHelperThreads}"></property>
	</bean>
	
	
	
	<!-- 事务配置 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="b2b-ds-1" />
	</bean>
	
	<!-- Fancy 事务配置 -->
	<bean id="fancyTxManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="mysql" />
	</bean>
	
	<!-- SpringJDBC Template 配置 -->
	<!-- ====================================================================================== -->
    <bean id="film-template" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="b2b-ds-1" />
	</bean>

	<!-- Fancy Template 配置 -->
	<!-- ====================================================================================== -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="mysql" />
	</bean>
	
	<!-- Spring Oracle大字段处理类 配置 -->
	<bean id="nativeJdbcExtractor"
		class="org.springframework.jdbc.support.nativejdbc.C3P0NativeJdbcExtractor"
		lazy-init="true" />
	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler"
		lazy-init="true">
		<property name="nativeJdbcExtractor" ref="nativeJdbcExtractor" />
	</bean>
	
	<!-- 全局异常错误处理 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView">
			<value>/error/error</value>
		</property>
		<property name="defaultStatusCode">
			<value>500</value>
		</property>
		<!-- 需要在log4j中也有对应的配置 -->
		<property name="warnLogCategory">
			<value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver
			</value>
		</property>
		<property name="exceptionMappings">
			<props>
				<prop key="java.sql.SQLException">/error/error</prop>
			</props>
		</property>
	</bean>

	<bean id="idx1" class="java.io.File">
		<constructor-arg value="/usr/local/lucene/index/index1"></constructor-arg>
		<!-- <constructor-arg value="D:\\lucene\\indexDir"></constructor-arg> -->
		
	</bean>
	<bean id="idx2" class="java.io.File">
		<constructor-arg value="/usr/local/lucene/index/index2"></constructor-arg>
		<!-- <constructor-arg value="D:\\lucene\\indexDir2"></constructor-arg> -->
	</bean>
	<bean id="idx3" class="java.io.File">
		<constructor-arg value="/usr/local/lucene/index/index3"></constructor-arg>
		<!-- <constructor-arg value="D:\\lucene\\indexShopDir"></constructor-arg> -->
		
	</bean>
	<bean id="idx4" class="java.io.File">
		<constructor-arg value="/usr/local/lucene/index/index4"></constructor-arg>
		<!-- <constructor-arg value="D:\\lucene\\indexShopDir2"></constructor-arg> -->
	</bean>
	<bean id="indexDirectory" class="cn.telling.index.Util">
		<property name="indexFile1">
			<ref bean="idx1" />
		</property>
		<property name="indexFile2">
			<ref bean="idx2" />
		</property>
		<property name="indexFile3">
			<ref bean="idx3" />
		</property>
		<property name="indexFile4">
			<ref bean="idx4" />
		</property>
	</bean>


  <!-- ====================================Memcacheed缓存客服端 ========================================= -->

	<!-- <bean id="memcachedPool" class="com.danga.MemCached.SockIOPool"
		factory-method="getInstance" init-method="initialize" destroy-method="shutDown">
		<constructor-arg>
			<value>neeaMemcachedPool</value>
		</constructor-arg>
		<property name="servers">
			<list>
				<value>220.181.188.246:12000</value> 测试缓存服务器
				 <value>10.110.1.232:11211</value>正式缓存服务器
				多服务器
				<value>172.100.1.241:12000</value>
				<value>172.100.1.242:12000</value>
				<value>172.100.1.243:12000</value>
				<value>172.100.1.245:12000</value>
			</list>
		</property>
		<property name="weights">
		<list>
		<value>5</value>
		<value>5</value>
		<value>5</value>
		<value>5</value>
		</list>
		</property>
		<property name="initConn">
			<value>40</value>
		</property>
		<property name="minConn">
			<value>40</value>
		</property>
		<property name="maxConn">
			<value>200</value>
		</property>
		<property name="maintSleep">
			<value>5000</value>
		</property>
		<property name="nagle">
			<value>false</value>
		</property>
		<property name="socketTO">
			<value>3000</value>
		</property>
	</bean> -->
	<!-- <bean id="memcachedClient" class="com.danga.MemCached.MemCachedClient">
		<constructor-arg>
			<value>memcachedPool</value>
		</constructor-arg> -->
		<!-- <property name="compressEnable"> <value>true</value> </property> <property 
			name="compressThreshold"> <value>4096</value> </property> -->
<!-- 	</bean> -->
	
		<!-- <bean id="wechatBean" class="cn.telling.common.WechatConfig">
	    <property name="appId">
	        <value>wx0fe5317968dc9afc</value>
	    </property>
	    <property name="appSecret">
	        <value>f1a55329cf4ff8aa7ded2ef465bc4dd6</value>
	    </property>
	    <property name="domain">
	        <value>wx.tianlian.cn</value>
	    </property>
	</bean>	 -->
	
	
	<!-- <bean id="cacheManaer" class="cn.telling.tools.cache.CacheManager"
		init-method="initCache">
		<property name="memClient" ref="memcachedClient" />
		<property name="areaInfoService" ref="areaInfoServiceImpl" />
		<property name="dictionaryService" ref="DictionaryService" />
	</bean> -->
</beans>