.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
/target/*.jar
/target/*.properties
/FancyInterface/target/*
/Fancy/target/*
/FancyUtils/target/*
/FancyRSB/target/*
/FancyRoot/target/*
/FancyRCB/target/*
/Fancy/src/main/webapp/WEB-INF/classes/*
/classes/*