.fanye {
	width: 80%;
	float: left;
	height: 58px;
}

.fanye ul {
	margin-left: 250px;
	margin-top: 25px;
}

.fanye ul li {
	margin-left: 5px;
	float: left;
	display: inline;
	font-size: 14px;
	line-height: 25px;
}

.fanye ul li a {
	padding: 0px 5px;
	line-height: 25px;
	color: #333;
}

.fanye ul li a.big {
	padding: 0px 5px;
	color: #333;
}

.fanye ul li a:hover.big {
	padding: 0px 5px;
	color: #f1f1f1;
	background: #0C356D;
}

.fanye ul li a:hover {
	padding: 0px 5px;
	color: #f1f1f1;
	background: #0C356D;
}

.fanye .active {
	color: red;
}

.jump {
	width: 20%;
	float: left;
	height: 33px;
	padding-top: 25px;
	line-height: 25px;
	font-size: 14px;
}

.jump input.kuang {
	width: 25px;
	border: 1px #e3e3e3 solid;
	height: 25px;
	line-height: 25px;
}

.jump img {
	width: auto;
	height: 16px;
}

/* @閺傚洣娆㈡稉濠佺炊闂呮劘妫宖ile閺嶅洨顒�*/
input.filePrew {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	opacity: 0; /* 鐎圭偟骞囬惃鍕彠闁款喚鍋�*/
	filter: alpha(opacity = 0); /* 閸忕厧顔怚E */
	cursor: pointer;
}

input.filePrew50 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	opacity: 0; /* 鐎圭偟骞囬惃鍕彠闁款喚鍋�*/
	filter: alpha(opacity = 0); /* 閸忕厧顔怚E */
	cursor: pointer;
}

input.filePrew100 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	opacity: 0; /* 鐎圭偟骞囬惃鍕彠闁款喚鍋�*/
	filter: alpha(opacity = 0); /* 閸忕厧顔怚E */
	cursor: pointer;
}

.btn_addPic {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
}

.modal-dialog-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
}

.modal-body {
	overflow-y: auto;
}

.modal-footer {
	margin-top: 0;
}

.modal-header {
	background-color: #f1f1f1;
}

.modal-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.simpofun {
	display: block;
	position: absolute;
	right: -8px;
	width: 9px;
	height: 58px;
	top: 30%;
	border: medium none;
}

#addForm table {
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: #e5e5e5 1px solid;
	bottom: 2px;
}

#addForm table tr {
	height: 35px;
}

#addForm table tr td em {
	margin-left: 5px;
	color: #ea5200;
}

#addForm table td {
	background-color: #fff;
	padding-left: 5px;
	margin-left: 5px;
	padding: 10px 0;
}

#addForm table td select {
	height: 26px;
}

#addForm table td textarea {
	resize: none;
}

#addForm table:first-child {
	backgroud-color: #fff;
	padding-right: 10px;
	font-weight: normal;
}

#addForm select {
	float: left;
}

#addForm em {
	height: 20px;
	padding-right: 10px;
}

#addForm label.error {
	float: none;
}

#addForm label.error.errorLabel {
	float: left;
	color: red;
	margin-left: -0;
}

#addForm label.error {
	float: none;
	color: white;
	margin-left: 0px;
}

#editForm table {
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: #e5e5e5 1px solid;
	bottom: 2px;
}

#editForm table tr {
	height: 35px;
}

#editForm table td {
	word-break: keep-all;
	margin-left: 5px;
	padding-left: 5px;
	margin-left: 5px;
	background-color: #fff;
	/* border: #e5e5e5 1px solid; */
	padding: 10px 0;
}

#editForm table td select {
	height: 35px;
}

#editForm table td textarea {
	resize: none;
}

#editForm table:first-child {
	backgroud-color: #fff;
	padding-right: 10px;
	font-weight: normal;
}

#editForm em {
	height: 20px;
	padding-right: 10px;
	color: #ea5200;
}

#editForm select {
	float: left;
}

#editForm label.error.errorLabel {
	float: left;
	margin-left: 0px;
	color: white;
	margin-left: 0px;
}

#editForm label.error {
	float: none
}

table tr td.tdCheckbox:first-child {
	text-align: center;
	padding-right: 0px;
}

table tr td.tdCheckbox:first-child {
	text-align: center;
	padding-right: 0px;
}

#addForm table tr td:first-child {
	padding-right: 10px;
	text-align: right;
}

#editForm table tr td:first-child {
	padding-right: 10px;
	text-align: right;
}

#addForm table:first-child {
	backgroud-color: #fff;
	padding-right: 10px;
	font-weight: normal;
}

i, em {
	font-style: normal;
}

#addForm table tr td pre, #editForm table tr td pre {
	font-style: normal;
	color: #FF0000;
	padding: 0 5px;
	display: inline
}