/*���ð�ť�ı�����ʽ*/

.simpo30{ display:block; width:30px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpo60{ display:block; width:60px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpo80{ display:block; width:80px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpo100{ display:block; width:100px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpo140{ display:block; width:140px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2; float:left}
.simpo200{ display:block; width:200px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2; float:left}
.simpo205{ display:block; width:205px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpo250{ display:block; width:250px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpo500{ display:block; width:500px; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpolang{ display:block; width:95%; height:25px; line-height:25px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;  float:left}
.simpobut60{display: block;padding:0 5px;height: 27px;border-top:none;border-bottom:none;border-left:1px solid #c7c7c7;border-right:1px solid #c7c7c7;background:url(../images/search.png)}
.bluebut{ display:block; width:99px; height:27px; border:none; background:url(../images/bluebut.png); color:#FFF}
.greenbut{ display:block; width:99px; height:27px; border:none; background:url(../images/greenbut.png); color:#FFF}
.orgbut{ display:block; width:99px; height:27px; border:none; background:url(../images/orgbut.png); color:#FFF}
.Gaybut{ display:block; width:99px; height:27px; border:none; background:url(../images/Gaybut.png); color:#333}
.SIMPO_textarea{ display:block; width:500px; height:95px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;}
.SIMPO_textarea200{ display:block; width:200px; height:95px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;}
.SIMPO_textarea300{ display:block; width:300px; height:95px; text-indent:4px; border-top:1px solid #bfbfbf; border-left:1px solid #bfbfbf; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2;}
a.SIMPO_Text_Blue, a.SIMPO_Text_Green, a.SIMPO_Text_Org, a.SIMPO_Text_Gay{display:block; width:99px; height:27px; line-height:27px; border:none;  text-align:center;  cursor:pointer; font-size:12px; color:#FFF;}
.SIMPO_Text_Blue{background:url(../images/bluebut.png) }
.SIMPO_Text_Green{background:url(../images/greenbut.png)}
.SIMPO_Text_Org{background:url(../images/orgbut.png);}
a.SIMPO_Text_Gay{background:url(../images/Gaybut.png); color:#333;}
/*Select*/
.SIMPO_Select {display:inline-block; *display: inline; *zoom: 1; position:relative;}
.SIMPO_Select_80{  width:80px; height:26px; }
.SIMPO_Select_100{ width:100px; height:26px;}
.SIMPO_Select_120{  width:120px; height:26px;}
.SIMPO_Select_150{  width:150px; height:26px;}
.SIMPO_Select_300{ width:300px; height:26px;}
.SIMPO_Select_400{  width:400px; height:26px;}
.SIMPO_Select_500{ width:500px; height:26px;}
.SIMPO_Select_lang{ width:95%; height:26px;}
.SIMPO_Select a {color: #7d7d7d; font-size: 12px;  text-decoration: none;}
.SIMPO_Select a:hover { text-decoration: none;}
a.SIMPO_Select_Trigger {position:absolute;display:inline-block;*display:inline; *zoom:1; width:99%; border: 1px solid #ccc;height:26px;line-height:26px;background:#fff;left: -1px; text-align:left; text-indent:5px;}
a.SIMPO_Select_Trigger i { position:absolute; top:0px; right:5px; line-height:26px; text-indent: 0; font-size: 14px; cursor: pointer;}
a.SIMPO_Select_Trigger:hover { border: 1px solid #999;}
.SIMPO_Select_content {width:99%;padding: 0;background: #fff;list-style: none;border: 1px solid #ccc;position:absolute;top:27px;}
.SIMPO_Select_item a { display: block; padding: 7px 0; text-indent: 10px;}
.SIMPO_Select_item a:hover { background: #f2f2f2;}
.SIMPO_Select_item-hover a { background: #f2f2f2;}
.SIMPO_iconfont{display:block; width:13px; height:7px; background:url(../images/SIMPO_XL.jpg); margin-top:10px;}
/*TAB*/
.SIMPO_Tab{ display:block; width:100%; height:37px; border-bottom:1px solid #d0dee5; margin-top:5px;}
.SIMPO_Tab ul li{ display:block; height:36px; line-height:36px; border-bottom:none; width:111px; float:left; text-align:center; position:relative; top:1px; background:url(../images/simpotable2.png);}
.SIMPO_Tab ul li a{ font-size:14px; color:#333; display:block; width:111px; height:36px; line-height:36px;}
.SIMPO_Tab ul li.SIMPO_Tab_Select{ height:37px; line-height:37px; width:112px; top:1px; background:url(../images/simpotab.png)}
.SIMPO_Tab ul li.SIMPO_Tab_Select a{ font-weight:bold;}
/*TAB2*/
.SIMPO_Tab2{ display:block; width:100%; height:37px; border-bottom:1px solid #d0dee5; margin-top:5px; background-color:#FFFFFF;}
.SIMPO_Tab2 ul li{ display:block; height:36px; line-height:36px; border-bottom:none; width:90px; float:left; text-align:center; position:relative; top:1px; font-size:12px;  color:#333; cursor:pointer}
.SIMPO_Tab2 ul li a{ font-size:12px; display:block; width:90px; height:36px; line-height:36px;}
.SIMPO_Tab2 ul li.SIMPO_Tab_Select{ height:35px; line-height:35px; width:90px; top:1px; border-bottom:2px solid #6787af; font-weight:bold}
.SIMPO_Tab2 ul li.SIMPO_Tab_Select a{ font-weight:bold; font-size:12px; color:#6787af;}

/* ���*/
.SIMPO_Table{ width:100%; margin:0 auto; overflow:hidden; overflow-y:auto; background-color:#FFFFFF}
.SIMPO_Table table{border:1px solid #d3d3d3; width:100%; margin-bottom:10px;}
.SIMPO_Table table tr{ height:30px; width:628px; }
.SIMPO_Table table tr td{ line-height:30px; border-bottom:1px dashed #CCCCCC;word-break: break-word;}
.SIMPO_Table table tr th ul{ display:block; float:left; height:35px; padding-left:20px; position:relative; top:8px;}
.SIMPO_Table table tr th ul li{display:block; width:65px; float:left; height:28px; border-bottom:none;  cursor:pointer;}
.SIMPO_Table table tr th ul li.Student_List_Select{ border:1px solid #26709a; border-bottom:none;}
.SIMPO_Table table tr th{height:35px; border-bottom:2px solid #b6cad2; text-align:center; background:url(../images/simpoth.png); }
.SIMPO_Table table tr th b{float:none;}
.SIMPO_Table table tr td{font-size:12px; color:#666666}
.SIMPO_Table table tr td .ico{width:19px; height:19px; display:inline; padding:0 10px; position:relative; top:2px;}
.SIMPO_Table table tr td a.Public_Button{display:block; height:20px; line-height:20px; display:block; padding:0 5px; border:1px solid #CCCCCC; float:left; margin-left:15px;}
.SIMPO_Table tr th b{font-size:14px; padding-left:10px; float:left}
.SIMPO_Table table tr td a.SIMPO_Table_Name{font-size:12px; font-weight:lighter; color:#26709a; padding-left:10px;}
.SIMPO_Table table tr td.tdCenter{text-align: center;}
.SIMPO_Table table tr td.tdLeft{text-align: left;}
.SIMPO_Table table tr td.tdRight{text-align: right;}
/*���÷�ҳ*/
.Public_Page{height:25px; margin:0 auto; color:#808080;  padding:0; zoom:1; font-size:12px; vertical-align:middle; float: right; padding-top:15px;}
.Public_Page:after {clear:both; content:" "; display:block; font-size:0; height:0; visibility:hidden;}
.Public_Page a, .Public_Page span.Public_Page_prev, .Public_Page span.Public_Page_next{text-decoration:none; color:#333;  margin:0 3px; display:inline-block; *display:inline; *zoom:1;
vertical-align:middle; height:22px; line-height:22px;}
.Public_Page_prev, .Public_Page_next{ background-color: #F9F9F9; padding:0 8px; border: 1px solid #ccc;}
.Public_Page_prev:hover, .Public_Page_next:hover, .ui-paging-goto:hover { border-color:#999; color:#666;}
.Public_Page_prev:hover .iconfont, .Public_Page_next:hover .iconfont { color: #666;}
.Public_Page .Public_Page_prev {margin: 0 3px 0 0;}
.Public_Page .iconfont {font-size: 10px; color: #787878;}
.Public_Page a.Public_Page_item {background-color:#fff; font-weight:bold; padding:0 8px; border:none; }
.Public_Page a.Public_Page_current, .Public_Page a.Public_Page_item:hover {color:#fff; background:#6787af;}
a.Public_Page_prev:hover, a.Public_Page_next:hover{text-decoration:none; color:#666;}
.ui-paging-info { line-height:24px; margin-right:5px; height:24px;}
.ui-paging-ellipsis { margin:0 5px; line-height: 16px;font-weight:bold;}
.Public_Page span.Public_Page_prev,
.Public_Page span.Public_Page_next,
.Public_Page span.Public_Page_prev .iconfont,
.Public_Page span.Public_Page_next .iconfont {color:#333; box-shadow:none; background: #d4d4d4; border-color: #d4d4d4; filter: none;}


.imghoverstyle50 {
	width: 50px;
	float: left;
	margin-right: 5px;
	position: relative;
}

.imghoverstyle100 {
	width: 100px;
	float: left;
	margin-right: 5px;
	margin-bottom:5px;
	position: relative;
}

.imghoverstyle50 .add-img {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 1px dashed #999999;
	border-radius: 5px;
	position: relative;
	text-align: center;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	color: #CECECE;
	float: left;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.imghoverstyle100 .add-img {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: 1px dashed #999999;
	border-radius: 5px;
	position: relative;
	text-align: center;
	font-size: 100px;
	font-family: Arial, Helvetica, sans-serif;
	color: #CECECE;
	float: left;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.imghoverstyle50 .add-img img {
	width: 50px;
	height: 50px;
}

.imghoverstyle100 .add-img img {
	width: 100px;
	height: 100px;
}

.uploadImg {
	display: block;
}

.imghoverstyle100 .delImg {
	display: block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: #FFFFFF;
	background-color: #FF0000;
	font-size: 14px;
	font-style: normal;
	position: absolute;
	top: -8px;
	right: -8px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
}

.imghoverstyle50 .delImg {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #FF0000;
	font-size: 14px;
	font-style: normal;
	position: absolute;
	top: -5px;
	right: -3px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	z-index: 1000;
	cursor: pointer;
	text-align: center;
}

.imghoverstyle50 .add-img span {
	cursor: hand;
}

.imghoverstyle100 .add-img span {
	cursor: hand;
}

.imghoverstyle50 a:hover, .imghoverstyle100 a:hover {
	color: #CECECE;
	text-decoration: none;
}
.simpoControlI{float: left; font-size:20px; text-align: center; height: 15px; padding-right:10px;}


input.simpo-control, select.simpo-control{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-right: 5px; }
select.simpo-control{margin-top: 5px; border:1px solid #ccc;}
select.simpo-control-select{display:block; width: auto; margin: 5px 5px 0 0; padding:0 5px 0 0 ;text-indent: 0;float: left;}
table{border-collapse:inherit}
label{font-weight: normal;margin-bottom: 0px}
/* 2015-02-26 */
.add-img-input{ margin-bottom:10px;}

/* 2015-3-2 */

.hdinfolist, .ppinfolist{ padding:10px; background:#fffff0; border:1px solid #e8e5bb; margin-bottom:5px;}
.hdinfolist dl{ display:block; padding:5px 0;}
.hdinfolist dl dt{ display:block; float:left; font-weight:bold}
.hdinfolist dl dd{ display:block; float:left; padding:0 10px; position:relative;}
.hdinfolist dl dd em{ background:#fffdbf; border:1px solid #d4be65; line-height:21px; padding:0px 5px; position:absolute; top:-30px; right:-220px}
.hdinfolist dl dd i{ position:relative; top:5px;}

input.xzinput{ width:100px; height:27px; border:1px solid #c7c7c7; background:url(../images/sjcx.png)}
.add-table table tr td input.xz50{ width:50px;}
.ppinfolist{ background:#F8F8F8; border:none;}
.ppinfolist ul li{ display:inline-block; padding:1px 10px; background:#FFFCD7; border:1px solid #dee5a0; margin-bottom:5px;}
.ppinfolist ul li i{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#FF0000; padding:0 0 0 5px; cursor:pointer;}

.hdinput{ height:60px; padding-left:170px; padding-top:15px;}
.hdinput input{ display:block; border:none; width:150px; height:51px; float:left; margin-right:10px; font-weight:bold}
.hdinput input.hdgo{ background:url(../images/hdbg.png) center center no-repeat; text-align:center; line-height:49px; font-size:14px; font-family:"宋体"; color:#FFFFFF; border:none;}
.hdinput input.hdqx{ background:url(../images/hdqx.png) center center no-repeat; text-align:center; line-height:49px; font-size:14px; font-family:"宋体"; color:#666666;}
