@charset "utf-8";
/* CSS Document */

*{ padding:0; margin:0; border:0; font-family:"微软雅黑";}
body {
	font-size:12px;
	font-family:"微软雅黑";
	margin:0px;
	color:#666;
	background:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
}

ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4{padding:0px; margin:0px; list-style:none; font-size:12px; font-weight:normal; text-align:left;}
img{border:none;} 
.clear{clear:both;}
a{color:#666; text-decoration:none}
a:hover{color:#f07e07}
.colred{ color:#FF0000;}
.colcFFC{ color:#ff6402}
.c0d3s12{ color:#0D346D; font-size:12px;}
.left{float:left;margin-left:30px;margin-top:15px;}
.right{float:left;}
.pa10{ padding:10px;}
.patop10{ padding-top:10px;}
.floright{ float:right}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left24{margin-left:24px;}
.left36{margin-left:36px;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top30{margin-top:30px;}
.bor{border:1px #E3E3E3 solid;}
.borbottom{border-bottom:1px #E3E3E3 dashed;}
.fontstyle01{font-size:14px; color:#0c346d;}
.fontstyle02{font-size:12px; color:#ff3000;}
.fontstyle03{font-size:14px;}
.inpstyle01{ padding:2px 20px; margin-top:3px; background-color:#0B346C; font-size:12px; color:#fff; text-align:center; cursor:pointer;}
.inpstyle001{ padding:3px 15px; margin-top:3px; background-color:#0B346C; font-size:12px; color:#fff; text-align:center; cursor:pointer;}
.inpstyle02{width:22px; height:16px; background-color:#0B346C; font-size:12px; color:#fff; text-align:center; cursor:pointer;}
.inpstyle03{width:76px; height:31px; background-color:#0B346C; font-size:14px; color:#fff; text-align:center; cursor:pointer;}
.inpstyle04{width:76px; height:31px; background-color:#eee; font-size:14px; color:#333; text-align:center; cursor:pointer;}
.inpstyle05{ padding:5px 15px; background-color:#0B346C; font-size:14px; color:#fff; text-align:center; cursor:pointer;}
.fourstyle01{margin-top:50px; margin-left:450px;}
.fourstyle02{text-align:center;}
.top{ width:1200px; height:86px; background-color:#3399FF;}
.pleft15{padding-left:15px;}
.textleft{text-align:left !important;}
.textright{text-align:right!important;}
.textcenter{ text-align:center}
.leftside{width:212px; height:786px; float:left; overflow-y:auto; overflow-x:hidden}
.rightside{ width:988px; height:786px; float:left; overflow-y:auto; overflow-x:hidden; display:inline;}
.bottom{ width:1200px; height:83px; background-color:#CC66FF;}
/*button*/
.buttonstyone{ padding:0px 3px;  background-color:#0B346C; color:#fff;}
.long{
        width:225px;
		height:23px;
		border:1px #e3e3e3 solid;
		vertical-align:baseline;
}
.longone{
        width:175px;
		height:23px;
		border:1px #e3e3e3 solid;
		vertical-align:baseline;
}
/*select */
.selone{ width:65px; height:20px; line-height:20px; font-size:12px; border:1px #ddd solid;}
.selhalf{ width:112px; height:20px; line-height:20px; font-size:12px; border:1px #ddd solid;}

/*header*/
.header{
        width:1200px;
		height:86px;
}
.headerleft{
        width:212px;
		height:86px;
		float:left;
}
.headermid{
        width:906px;
		height:86px;
		float:left;
		background:url(../../images/managerImages/b2bname.png) 30px 20px no-repeat #eee;
}
.headermid p{
		float:right;
		padding:45px 20px 15px ;
		font-size:12px;
		color:#999;
}
.headerright{
        width:82px;
        height:86px;
		float:right;
}
.headerright a{
        width:82px;
        height:86px;
		line-height:86px;
		text-align:center;
		float:right;
		font-size:24px;
		color:#999;
		background-color:#DBDBDB;
}
.headerright a:hover{
        width:82px;
        height:86px;
		line-height:86px;
		float:right;
		font-size:24px;
		color:#fff;
		background-color:#0C356D;
		text-align:center;
}
/*left css*/
.leftbar{ width:212px;height:776px; background-color:#355179; float:left;}
/*左侧导航效果css*/
div.sdmenu {
	width: 212px;
	font-size: 14px;
	padding-bottom: 10px;
	color: #fff;
}
div.sdmenu div {
	background: url(../../images/managerImages/title.jpg) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(../../images/managerImages/title.jpg) repeat-x;
}
div.sdmenu div.collapsed {
	height: 43px;
}
div.sdmenu div span {
	display: block;
	padding: 8px 30px 11px;
	color: white;
	font-size:18px;
	text-align:left;
	background: url(../../images/managerImages/expanded.jpg) no-repeat 160px center;
	cursor: default;
}
div.sdmenu div.collapsed span {
	background-image: url(../../images/managerImages/collapsed.jpg);
}
div.sdmenu div a {
	padding: 9px 25px 13px;
	background: url(../../images/managerImages/sdmenuabg01.jpg) repeat-x;
	display: block;
	color: #C6C8C5;
	text-align:left;
}
div.sdmenu div a.current {
	background : #efefef;
	color:#333;
}
div.sdmenu div a:hover {
	background : #efefef url(../../images/managerImages/linkarrow.jpg) no-repeat 165px center;
	color: #333;
	text-decoration: none;
	text-align:left;
}
/*左侧导航效果css*/
.main{
        width:988px;
	    /* height:786px; */
		float:left;
}
.crumbs{
        width:988px;
	    height:42px;
		background:url(../../images/managerImages/crumbsbg.jpg) repeat-x;
}
.crumbs p{
        width:928px;
	    height:42px;
		line-height:42px;
		margin-left:30px;
		border-bottom:1px dashed #ccc;
		font-size:12px;
		color:#999;
}
.mainbox{
        width:928px;
	    margin-left:30px;
}
.mainbox p{
        font-size:18px; margin-top:25px;
}
.condition{
       width:928px;
		height:auto! important;
		padding:5px 0px; 
		display:block;

}
.condition div.one{
        width:340px;
		float:left;
}
.condition div.one p , .condition div.tow p {
        color:#0c346d;
		font-size:12px;
		line-height:26px;
		margin-top:7px;
		margin-left:20px;
}
.condition div.one p input ,.condition div.tow p input{
        width:105px;
		height:23px;
		border:1px #e3e3e3 solid;
}
.condition div.one p input.long ,.condition div.tow p input.long{
        width:232px;
		height:23px;
		border:1px #e3e3e3 solid;
		vertical-align:middle;
}
.condition div.tow{
        width:506px;
		float:left;
		
		display:inline;
}
.condition div.three{
        margin-top:15px;
		float:left;		
}
.condition div.three a{
        width:20px;
		height:26px;
        padding:26px 22px;
		text-align:center;
		font-size:18px;
		color:#999;
		background-color:#DBDBDB;
}
.condition div.three a:hover{
        width:20px;
		height:26px;
        padding:26px 22px;
		font-size:18px;
		color:#fff;
		background-color:#0C356D;
		text-align:center;
}
.liebiao{
        width:928px;
		margin-top:15px;
}
.liebiao ul li{
        width:116px;
		height:43px;
		float:left;
		text-align:center;
		font-size:12px;
		color:#333;
		line-height:43px;
		border-bottom:1px dashed #CDCDCD;
}
.liebiao ul li.y1{
        width:114px;
		height:43px;
		float:left;
		text-align:center;
		font-size:12px;
		color:#333;
		line-height:43px;
}
.liebiao ul li.y2{
        width:114px;
		background-color:#F3F3F3;
		border-right:1px solid #fff;
		float:left;
		text-align:center;
		font-size:14px;
		color:#0C356D;
		line-height:43px;
		border-bottom:none;
}
.liebiao ul li.y3{
        width:115px;
		background-color:#F3F3F3;
		border-right:1px solid #fff;
        float:left;
		text-align:center;
		font-size:14px;
		color:#0C356D;
		line-height:43px;
		border-bottom:none;
}
.fanye{
		width:835px; float:left; height:68px; 
}
.fanye ul{
		margin-left:250px;
		margin-top:25px;
}
.fanye ul li{
        margin-left:5px;
		float:left;
		display:inline;
		font-size:14px;
}

.fanye ul li a{
        padding:0px 5px;
		line-height:25px;
		color:#333;
}
.fanye ul li a.big{
        padding:15px 5px;
		color:#333;
}
.fanye ul li a:hover.big{
        padding:15px 5px;
		color:#fff;
		background:#0C356D;
}
.orbig{
        height:26px;
		color:#333;
		line-height:26px;
}
.fanye ul li a:hover{
        padding:0px 5px;
		color:#fff;
		background:#0C356D;
}
.fanye .active{
color:red;
font-weight:bold;
display:block;
float:left;

}
.jump{
		width:218px;
		float:left;
		height:43px;
		padding-top:25px;
}
.jump input.kuang{
		width:55px;
		height:16px;
		border:1px #e3e3e3 solid;
}
/**********************style 02**********************/
.mainleftbar{
        width:435px;
		float:left;

}
.mainleftbar p{
       	font-size:14px;
		color:#0c346d;
		padding:0; 
		margin-top:25px;
}
.mainleftbar p.note{
       	font-size:12px;
		color:#FF4343;
		padding:0; 
		margin-top:10px;
		margin-left:83px;
}
.inp01{width:105px;
		height:23px;
		border:1px #e3e3e3 solid;
}
.inp02{width:210px;
		height:23px;
		border:1px #e3e3e3 solid;
}
.inp03{width:315px;
		height:23px;
		border:1px #e3e3e3 solid;
}
.inp04{width:140px;
		height:23px;
		border:1px #e3e3e3 solid;
}
.inp05{width:50px;
		height:23px;
		border:1px #e3e3e3 solid;
}

.center{ text-align:center}
.left68{margin-left:58px; display:inline;}				

/**********************style 03**********************/
.tip{
     width:715px;
	 height:120px;
	 padding:30px;
	 background-color:#FFFED2;
	 margin-top:35px;
	 margin-left:85px;
}
.tip p.text{
     width:650px;
	 line-height:30px;
	 font-size:14px;
	 margin-left:10px;
	 color:#666;
	 font-weight:bold;
}
/**********************style 04**********************/
.fore{ width:750px; margin: 0 auto;}
  .fore ul{ width:620px; margin-top:20px; }
  .fore ul li{  width:300px;
				height:30px;
				line-height:30px;
                text-align:right;
				list-style-type:none;
				margin-top:15px;
				float:left;
				}
  .fore ul li input.test{width:300px;
				height:30px;
				vertical-align:middle;
				border:1px #ccc solid;
				margin-left:15px;
				}
/*footer*/
.footer{
        width:1200px;
		height:63px;
		margin:0 auto;
		background-color:#D7D7D7;
		padding-top:20px;
}
.footer p{
		margin-right:25px;
		height:20px;
		line-height:20px;
		text-align:right;
		color:#fff;
}

/*login*/
.login{
        width:1200px;
		height:700px;
		background:url(../../images/managerImages/loginbg.jpg) no-repeat left top;
		margin:0 auto;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-600px;
		margin-top:-350px;
		border:1px #f5f5f5 solid;
}
.loginleft{
        width:545px;
		height:345px;
		position:relative;
		left:115px;
		top:152px;
		float:left;
}
.logotext{
        font-size:45px;
		color:#0c346d;
		margin-top:20px;
		font-weight:lighter;
}
.logotextcopy{
        font-size:12px;
		color:#666;
		margin-top:150px;
		
}
.loginright{
        width:430px;
		height:345px;
		position:relative;
		left:115px;
		top:152px;
		float:left;
}
.loginrighttit{
        font-size:18px;
		color:#0c346d;
		margin-top:20px;
		margin-left:100px;
}
.loginright ul{
        margin-left:100px;
		margin-top:25px;
		width:300px;
}
.loginright ul li a{ outline:none;}
.loginright ul li p{
		        width:90px;
				height:25px;
				line-height:25px;
				float:left;
				list-style-type:none;
				font-size:16px;
				margin-top:20px;
}

.loginright ul li input{
                width:198px; height:24px; border:1px #D9D9D9 solid;
	            vertical-align:middle;
				margin-left:10px;
				line-height:24px;
				float:left;
				margin-top:20px;
}
.loginrightbutton{
		margin-top:50px;
		margin-left:165px;
		background:url(../../images/managerImages/Save.jpg) no-repeat;
		width:165px;
		height:40px;
		text-align:center;
		line-height:40px;
		color:#fff;
		font-size:18px;
		cursor:pointer;
}
.Hand{cursor:pointer;}

/*tree*/
.newlist{ width:920px; margin-left:10px;}
.newlist h1{ width:910px; height:20px; font-size:16px; margin-left:10px; line-height:20px; margin-top:15px;}
.newlist ul{ width:900px; margin-left:15px; margin-top:5px;}
.newlist ul li{vertical-align:middle; list-style:none; width:900px; height:30px; margin-left:5px;}
.newlist font{ width:800px; float:left; font-size:12px; color:#777777; height:30px; line-height:30px;}
.newlist span{ width:100px; height:30px; float:left; font-size:12px; line-height:30px;}
.newlist span a{ padding:2px 5px; background-color:#DBDBDB; color:#999; text-decoration:none; margin-left:5px;}
.newlist span a:hover{ padding:2px 5px;background-color:#0C356D; color:#fff; text-decoration:underline; margin-left:5px;}

/********系统版本**********/
.xtbb{
  width:928px; padding-top:20px; padding-bottom:20px;
}
.xtbb ul li{
 padding:0px 5px; float:left; font-size:14px;
}
/********table 过宽时出现横向滚动条的样式**********/
table.tablistone{
  width:1500px; border:1px #e3e3e3 solid; height:100%; 
}
.stylebar{ width:900px;  overflow-x:auto;}
/********table 过宽时出现横向滚动条的样式**********/
table.tablistpop{
  width:100%; border:1px #e3e3e3 solid; height:100%; 
}
table.tablist{
  width:928px; border:1px #e3e3e3 solid; height:100%; 
}
tr.title th { 
height:40px; background-color:#f3f3f3;
border-right:1px #fff solid; font-size:14px; color:#0c346d;
} 
tr.title tb { 
height:40px; background-color:#f3f3f3;
border-right:1px #fff solid; font-size:14px; color:#0c346d;
} 
tr.borbottomline td { 
border-bottom:1px #E3E3E3 dashed; text-align:center; height:40px;}

/********菜单分类查询**********/
.cdfl{
  width:928px; padding-top:20px; padding-bottom:20px;
}
.cdfl ul li{
  padding:2px 5px; float:left; font-size:14px;
}
/********菜单分类查询**********/
.cdfl{
  width:928px; padding-top:20px;  padding-bottom:20px;
}
.cdfl ul li{
  padding:2px 5px; float:left; font-size:14px;
}
/********功能菜单查询**********/
.gncd{
  width:928px; padding-top:20px; padding-bottom:20px;
}
.gncd ul li{
  width:308px; height:40px; line-height:40px; float:left; font-size:14px;
}
.gncd ul li button{
  line-height:19px;
}
.gncd1{
  width:928px; padding-top:20px; padding-bottom:20px;padding-left:20px;
}
.gncd1 ul li{
  width:454px; height:40px; line-height:40px; float:left; font-size:14px;
}
.gncd1 ul li button{
  line-height:19px;
}
/********DataRightAdd**********/
.tree{width:230px; height:300px; float:left;}
.rightadd{width::748px; float:left; margin-top:20px; margin-left:10px; display:inline;}
.addone{ margin-top:20px; margin-left:85px;}
table.addlist{
  width:600px; border:1px #e3e3e3 solid; height:100%; 
}
tr.addNO td{
 height:20px; background-color:#ededed; text-align:center;
}
.rightadd-select { width:150px; border:1px #E3E3E3 solid; height:25px;}

.maselect {
    border: 1px solid #ccc;margin-left:15px
}
.leftLi{
	text-align:left !important;
}
.pbox{width:400px; height:200px; border:1px #ccc solid; float:left}
/********功能打包**********/
.gndbbox{ width:900px; height:400px;}
.gndb{width:330px; height:300px; float:left; margin-bottom:20px;}
.gndb ul,.gndbone ul{width:300px; height:270px; padding:15PX; border:1px #ccc solid; margin-top:15px; overflow-y:auto; overflow-x:hidden;}
.gndb ul li,.gndbone ul li{width:300px; height:28px; line-height:28px; vertical-align:middle;}
.gndbone{width:330px; height:300px; float:left; margin-left:30px; display:inline; margin-bottom:20px;}

/********指定供应商产品**********/
.GYProductL{width:335px; float:left; padding:20px 0px;}
.GYProductL-b{ width:313px; height:610px; border:1px #e2e2e2 solid; overflow:auto; margin-top:10px; padding:10px;}
.GYProductL-b ul li{ width:400px; height:26px; line-height:26px;  padding:2px 5px; padding-left:25px;}
.GYProductL-b ul li a{ padding:2px 5px;}
.GYProductL-b ul li a:hover{ background-color:#e9f5ff; padding:2px 5px; color:#555}
.GYProductL-b ul li.bg{ background:url(../../images/managerImages/A.jpg) no-repeat left center;}
.GYProductR{width:570px; float:left; height:640px;  margin-left:20px; display:inline; margin-top:20PX;}
.GYProductR-b{width:560px; height:545px; overflow:auto; border:1px #e3e3e3 solid;}
table.tablisttow{
  width:528px; height:68px; overflow:hidden;}
tr.borbottomlinetow td { 
 text-align:center; height:39px; color:#666;}
 
 /********指定供应商产品**********/
  .wrap{width:935px; margin:20px auto; }
 #tag{ width:935px; overflow:hidden; background:#eee; border:1px solid #e2e2e2; }
 #tag li{list-style:none; float:left; margin-right:0px; color:#000; padding:5px 25px; cursor: pointer; font-size:14px; font-weight:bold;}
 #tag .current{ color:#fff; background:#416495; }
 #tagContent div{ width:915px; padding:10px; border:1px solid #e2e2e2; border-top:none; height:auto; display:none; font-size:12px;}
 div.tabone p{ font-size:12px; color:#0D346D; padding:0; margin:0;}
 table.TABtab{border:1px #e2e2e2 solid; padding:5px; text-align:center; margin-top:15px;}



/*订单*/
table.Orders{ width:999px; border:1px solid #80AAC2;text-align:center;}
table.Orders tr th{ background-color:#C6DCEA; border-bottom:1px solid #80AAC2; font-weight:lighter; color:#000;}
table.Orders tr td{ border-bottom:1px dotted #cccccc; padding:10px 0px;}

/*订单详情*/
table.OrdersDetail{ width:100%; height:100%; border-top:5px #E7E7E7 solid; border-bottom:5px #E7E7E7 solid;}
table.OrdersDetail tr th{ background-color:#F9F9F9; border-top:1px solid #fff; font-weight:lighter; color:#0D346F;}
table.OrdersDetail tr td{ border:1px solid #e0e0e0; font-weight:lighter; padding:10px 0px; text-align:center}

/*订单详情列表*/
.OrdersDetails{ padding:10px; background-color:#fafafa; width:908px;}
.OrdersDetails ul{width:908px;}
.OrdersDetails ul li{border-bottom:1px solid #e8e8e8; text-align:left; width:928px; line-height:38px;}
.OrdersDetails ul li p{ width:100px; text-align:right;color:#0C336C; font-size:12px; padding:0; margin:0; float:left;}
.fl{ float:left;}
.orbig{height:26px;color:#333;line-height:26px;}
.Wrong{width:750px; height:140px; border:1px #0C346F solid; margin:50px auto; text-align:center; padding:60px 0px;}
.Wrong p{font-size:16px; font-weight:bold;}
.Wrong p a{font-size:14px; font-weight:lighter;}
.showupelectronic{
		background:url(../../images/managerImages/down-houtai.jpg) no-repeat center ;
		width:15px;
		text-align:center;
		color:#fff;
		font-size:18px;
		cursor:pointer;
}
.showdownelectronic{
		background:url(../../images/managerImages/up-houtai.jpg) no-repeat center ;
		width:15px;
		text-align:center;
		color:#fff;
		font-size:18px;
		cursor:pointer;
}
.Liu_tellingAddcla ul li{width:270px;}
.Liu_tellingAddcla ul li input{margin-left:10px;width:150px;}
.Liu_tellingAddcla .Pop-up-select{width:151px;margin-left:12px;}

.z_fenpage ul li{width:auto;line-height:43px;}
.z_fenpage ul li a{line-height:43px;}
.z_tkxin ul li{width:100%;margin-bottom:15px;}
.z_tkxin ul li span{float:left;display:block;width:80px;text-align:right;}
.z_tkxin ul li input{float:left;background-color:#F7F7F7;}
.z_tkxin ul li textarea{float:left;resize:none;}
.z_tkxin font{margin-left:22px;margin-bottom:10px;}
.z_tkxin .inpstyle03{margin:0 15px;}
.z_tkxin .z_queren{text-align:center;margin-top:20px;}
.z_tab .tabs li{float:left;cursor:pointer;}
.z_tab .tabs .z_zhineng{background-color:#e3e3e3;}


.z_selband p{float:left;font-size:14px;text-align:center;margin:10px 0;}
.z_selband .z_number{width:88px;}
.z_selband .z_bandname{width:598px;}
.z_selband .z_already{width:234px;}

